<div class="main-contact-container">
  <div class="about-us-banner">
      <div class="about-us-banner-layover">
          <h1>CONTACT US</h1>
      </div>
  </div>
    <h2>Contact us for more details</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>

    <div class="container">
        <form>
          <label for="fname">First Name</label>
          <input type="text" class="contact-input-el" placeholder="Your name.." name="firstname">
      
          <label for="lname">Last Name</label>
          <input type="text" class="contact-input-el" placeholder="Your last name.." name="lastname">
      
          <label for="country">Country</label>
          <select id="country" name="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea class="contact-input-el" placeholder="Write something.." style="height:200px" name="message"></textarea>
      
          <input type="submit" value="Submit">
        </form>
      </div>
</div>
