.ekart--header{
    width: 100%;
    height: 11vh;
    display:flex;
    flex-wrap: wrap;
    border-bottom: #E5E4E2 1.5px solid;
}

.ekart-logo{
    padding: 1.2vh 8vh;
    font-size: 40px;
    font-weight: bold;
    color: #36454F;
    font-family: 'Concert One', cursive;
    width:20%;
}
.ekart--header--nav{
    width: 80%;
    padding: 1vh 2vh;
    font-size: 10px;
}
.ekart--top--bar{
    width:auto;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 15px;
    padding-right: 30px;
}
.ekart-menu{
    padding-top: 2vh;
    padding: 1vh 1vh;
    color: #36454F;
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    font-size: 14px;
    width:70%;
    text-align: center;
}
.ekart--bottom--bar{
    display: flex;
}
.ekart--search-bar{
    padding: 0 3vh;
}
.ekart-search-box{
    width: 170px;
    height: 33px;
    border: none;
    background-color: #efefef;
    padding: 2px 10px;
}
a{
    text-decoration: none;   
    padding: 0 10px; 
    color: #28282B;
}
.ekart--search--btn{
    width: 33px;
    height: 33px;
    border: none;
    background-color: #efefef;
    margin-left: -5px;
}

.btn{
    padding: 15px 25px;
    border: none;
    margin: 10px 0px;
}

.btn-primary{
    background-color: #28282B;
    color: white;
}