<div class="ekart--product--container">
    <!-- <img [src]="product.pImage">
    <p>Name: {{ product.name }}</p>
    <p>Price: {{ '$' + product.price }}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: {{ getDiscountedPrice().toFixed(2) }}</p>
    <p>{{product.inStock > 0 ? 'Only' + product.inStock +' items left': 'Not in Stock'}}</p>
    <button (click)="decrementCartValue()">-</button>
    <span>{{ addToCart }}</span>
    <button (click)="incrementCartValue()">+</button>
    <input (input)="onNameChange($event)"><br>
    <p>name={{name}}</p> -->
    <app-search></app-search>
</div>

<!--Disabled, Hidden, Checked-->