.app-login-form{
    width: 520px;
    height: 360px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px 30px;
    border-radius: 10px;
    margin: 75px auto;
}
.form-input{
    margin-top: 10px;
}
.form-input input{
    width: 100%;   
    height: 40px; 
    border: #eee 2px solid;
    padding: 0px 20px;
}
.app-login-btn{
    width: 100%;
    border: none;
    padding: 15px;
    margin: 15px 0px;
    background-color: #28282B;
    color: white;
}
.app-toggle-btn{
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: #0e0ede;
    cursor: pointer;
}
