<div class="home-page-contact">
    <div class="section-header">
        <h1>Contact Us to Get Quotation</h1>
    </div>
    <div class="container">
        <form>
          <label for="fname">First Name</label>
          <input type="text" class="contact-input-el" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" class="contact-input-el" placeholder="Your last name..">
      
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea class="contact-input-el" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
        </form>
      </div>
</div>
