.main-contact-container{
    width: 80%;
    margin: 50px auto;
    padding: 50px 100px;
    background-color: #efefef;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.about-us-banner{
  width: 100%;
  height: 280px;
  background: url(./../../assets/images/about-back.jpg);
}

.about-us-banner-layover{
  width: 100%;
  height: 280px;
  background-color: #28282B;
  opacity: 0.7;
  text-align: center;
  color: white;
  padding-top: 100px;
}
h2{
    margin: 50px 0px 10px 0px;
}
p{
    margin: 10px 0px;
    font-size: 14px;
}

.contact-input-el, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;  
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #FF5733;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
  }