<div class="app-login-form">
    <h2>Login Here</h2>
    <form>
        <div class="form-input">
            <label>Email Address</label>
            <input type="email" placeholder="Email address">
        </div>
        <div class="form-input">
            <label>Password</label>
            <input type="password" placeholder="Password">
        </div>           
        <button type="submit" class="app-login-btn">Login</button>
        <p>Do not have an accout yet? 
            <button class="app-toggle-btn">Register Here.</button>
        </p>
    </form>
</div>
