.login-form-container{
    background-color: #28282B;
    border: #28282B  1px solid;
}

.login-form{
    background-color: white;
    padding: 30px 50px;
    width: 40%;
    margin: 100px auto; 
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    background-color: #FF5733;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .container {
    padding: 16px;
  }
  .cancel-button-div{
    text-align: right;
    width: 100%;
  }