<div class="page-header-topbar">
  <div class="page-header-secondary-msg">
    <ul class="social-icons">
      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
    </ul>
  </div>  
  <div class="page-header-secondary-nav">
    <a href="#">SEARCH</a>
    <a href="#">POPULAR</a>
    <a href="#">TESTIMONY</a>
    <a href="#">SERVICES</a>
    <a href="#">CONTACT</a>
  </div>
</div>
<div class="page-header">
    <!--HOME HEADER-->
    <div class="page-header-logo">
      <h2>procademy</h2>
    </div>
    <div>
      <div class="page-header-secondary">
        
      </div>      
      <div class="page-header-primary">
        <div class="page-header-primary-nav">
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">CONTACT</a>
            <a href="#">COURSES</a>
        </div>
        <div class="page-header-login-logout">
            <a href="#">LOGIN</a>
            <a href="#">LOGOUT</a>
        </div>
      </div>
      
    </div>
  </div>
