
.section-header{
    margin-top: 50px;
    text-align: center;
}
.home-page-testimony{
    padding: 30px 150px;
    background-color: #28282B;
    color: white;
}
.all-testimony{
    display: flex;
    flex-wrap: wrap;
}
.testimony{
    margin: 60px 20px;
    display: flex;
    width: 45%;
}
.testimony > div > p{
    font-size: 14px;
    font-weight: lighter;
}
.testimonial-image{
    width: 180px;
    height: 180px;
    margin-right: 20px;
}

.testimonial-image > img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}