<div class="home-page-banner">
    <div class="home-page-banner-slogan">
      <h1>Learn coding in easy step by step way. Excel in your carrer.</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div class="home-page-banner-search">
      <input type="text" class="search-input" placeholder="Search Courses" #searchVar>
      <button class="search-button" [routerLink]="'/Courses'" (click)="OnSearchClicked(searchVar.value)">Search Courses</button>
    </div>
  </div>
