.ekart--header{
    width: 100%;
    height: 11vh;
    display:flex;
    flex-wrap: wrap;
    border-bottom: #E5E4E2 1.5px solid;
}

.ekart-logo{
    padding: 1.2vh 8vh;
    font-size: 40px;
    font-weight: bold;
    color: #36454F;
    font-family: 'Concert One', cursive;
    width:20%;
}
.ekart--header--nav{
    width: 80%;
    padding: 1vh 2vh;
    font-size: 10px;
}


.ekart--bottom--bar{
    display: flex;
}

.btn{
    padding: 15px 25px;
    border: none;
    margin: 10px 0px;
}

.btn-primary{
    background-color: #28282B;
    color: white;
}