.ekart-menu{
    padding-top: 2vh;
    padding: 1vh 1vh;
    color: #36454F;
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    font-size: 14px;
    width:70%;
    text-align: center;
}