.app-container{
    margin: 0px;
}

.main-container{
    width: 70%;
    margin: 70px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-container{
    padding: 20px 50px;
    background-color: #283747;
    color: white
}

a{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.main-content-area{
    padding: 40px 100px;
}