<div class="overlay">
	<div class="popup">
        <h2>Task Title</h2>
        <hr>
		<a class="close" href="#">&times;</a>
		<div class="content">
			<section class="container">
                
                <h3>Description</h3>
                <p>
                    Task Description
                </p>
                <div style="display: flex; margin-top: 20px;">
                    <div style="width: 50%;">
                        <strong>Assigned To: </strong>
                        John Smith
                    </div>
                    <div style="width: 50%;">
                        <strong>Created At: </strong>
                        20-10-2023
                    </div>
                </div>
                <div style="display: flex; margin-top: 20px;">
                    <div style="width: 50%;">
                        <strong>Priority: </strong>
                        High
                    </div>
                    <div style="width: 50%;">
                        <strong>Current Status: </strong>
                        In Progress
                    </div>
                </div>
            </section>
		</div>
	</div>
</div>

