<div class="ekart--product--item">
    <div class="ekart-wishlist-sale-container">
        <div class="ekart--add--to--wishlist">
          <i class="fa fa-heart-o" aria-hidden="true">
        </div>
        <div class="ekart-on-sale-tag">75% OFF</div>
      </div>
      <div class="ekart--product--image">
          <img src="IMGSRC" class="ekart--product--image">
      </div>
      <div class="ekart--add--to--price">
          PRICE
      </div>
      <div class="ekart--product--name">NAME</div>
      <div class="ekart--product--category">GENDER . CATEGORY . BRAND</div>
      <div class="ekart--product--available-colors">$COLORCOUNT Colors . Best Seller</div>
</div>
