<footer class="footer">
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        </a></li>
    </ul>
    <p>&copy;2024 Procademy Classes | All Rights Reserved</p>
  </footer>
