.main-about-container{
    width: 80%;
    margin: 50px auto;
    background-color: #efefef;
}
.about-us-banner{
    width: 100%;
    height: 280px;
    background: url(./../../assets/images/about-back.jpg);
}

.about-us-banner-layover{
    width: 100%;
    height: 280px;
    background-color: #28282B;
    opacity: 0.7;
    text-align: center;
    color: white;
    padding-top: 100px;
}
.about-us-content{
    padding: 50px 100px;
    display: flex;
}

.about-us-moto{
    margin-left: 100px;
    width: 340px;
    padding: 20px 20px;
}
.about-us-founder{
    margin-left: 100px;
    width: 320px;
    padding: 20px 40px;
    text-align: center;
}
h2{
    margin: 10px 0px;
}
p{
    margin: 10px 0px;
    font-size: 14px;
}

img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}