<div class="main-about-container">
    <div class="about-us-banner">
        <div class="about-us-banner-layover">
            <h1>ABOUT US</h1>
        </div>
    </div> 
    <div class="about-us-content">
        <div class="about-us-moto">
            <h2>Behind the Success</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="about-us-founder">
            <img src="./../../assets/images/founder.jpg">
            <h2>Lewis Griffin</h2>
            <p>Founder, CEO - Random Companay Inc.</p>
        </div>
    </div>
</div>
